a{
    text-decoration: none;
}
.accordion{
    margin-right: 15%;
    width: 250px;
}
.accordion_title{
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    border: 1px solid;
    border-color: black;
    background-color:rgb(23, 71, 35);
    padding: 5px;
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}
.accordion_title:hover{
    cursor: pointer;
}
.accordion_content{
    font-size: 1.2em;
    padding: 10px;
    border: 1px solid;
    text-align: center;
    background-color: antiquewhite;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
body{
    width:97%;
    background-color: #509152;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

.boardDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

.black-square{
    
/* background-image: url("/wallpaper/darkMarble3.jpg"); */
background-color: #3d2827;
background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}
.blackButton{
    background-color: black;
    color: white;
}
.belowButtons{
    display: none
}
.chessBoard{
    width: 752px;
    height: 752px;
    border: 5px solid;
    border-style: outset;
    border-color: #553C2A;
    background: #553C2A;
    display: grid;
    grid-template-columns: repeat(8, 94px);
    grid-template-rows: repeat(8, 94px);
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.gameHeader{
    text-align: center;
}
.leftSide{
    width: 15%;
    height: 752px;
    margin-left: 10%;
    display: grid;
    grid-template-rows: 150px 200px 200px;
}
.middleBoard{
    width: 45%;
}
.moveBtn{
    padding: 1rem;
    border: 2px solid;
    border-style: outset;
    border-color: #553C2A;
    font-weight: bold;
}

.moveIndicator{
    position: relative;
    top: 17.5em;
    padding: 15px;
    font-weight: bold;
    height: 75px;
    right: 1em;
}
.moveNumber{
    visibility: hidden;
    display: none;
}
.root{
    width: 100%;
}
.square{
    height: 94px;
    width: 94px;
    border: 1px solid;
    display: flex;
    text-align: left;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

.whiteButton{
    background-color: white;
    color: black;
}
.white-square{
    background-image: url("/wallpaper/marble.jpg");

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

@media (max-width:1650px){
    .leftSide{
        margin-right: 10%;
    }
    .middleBoard{
        width: 700px;
    }
}
@media (max-width:1365px){
   .leftSide{
       margin-left: 0;
   }
    .description{
        visibility: hidden;
    }
}
@media (max-width:1320px){
    .leftSide{
        visibility: hidden;
    }
}
