.player{
    height: 100px;
    width: 100px;
    border: 4px solid;
}

.white-player{
    position: relative;
    margin-top: 500px;
    margin-left: .5%;
} 
.black-player{
    position: relative;
    margin-right: 0;
    margin-right: .5%;

}




