.chess-piece{
    background-size: 94px;
    background-position: center;
    background-repeat: no-repeat;
    height: 94px;
    width: 94px;
}

.chess-piece:hover{
    cursor: grab;
}
.bottomLabel{
    position:relative;
    top:74.5px;
    left:84px;
}
.bottomLabelTwo{
    position:relative;
    top:76px;
    left:72px;
}